<!DOCTYPE html>
<html>
    <head>
        <title>ak mobiles</title>

        <link rel="stylesheet" href="../static/css/stylesheet.css">  
       
    </head>
    <body>
        <nav>
            <h1 class="logo">mi mobiles</h1>
            <ul>
                <li><a class="active" href="../index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="login.html">Login</a></li>
              </ul>
        </nav>
        <h1>This is dashboard</h1>
    </body>
    </html>